{# {% extends './src/common_resource/njk/layout.njk' %} #}
<link href="https://cdn.bootcdn.net/ajax/libs/Swiper/6.4.1/swiper-bundle.min.css" rel="stylesheet">
{% block body %}
<div id='app'>
    <index-main></index-main>
</div>
{% endblock %}
<script src="https://cdn.bootcdn.net/ajax/libs/Swiper/6.4.1/swiper-bundle.min.js"></script>